<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="core.js"></script>
    <script src="/app/plugin/jquery/jquery.js"></script>
    <script src="/app/uikit/js/uikit.js"></script>
    <link rel="stylesheet" href="/plugin/uikit/css/uikit.css" /> 
    <link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="/plugin/private/private.css">
	<link rel="stylesheet" href="/assets/css/template.css">
	<title>AngApp</title>
</head>
<body>
<div>Login page
<form>
      <label>Username:</label><input type="text" ng-model="username" /></br></br>
      <label></label>Password:</label><input type="password" ng-model="password"></br>
      <button  type="submit" ng-click="submit()">login</button>
  </form>
</div>
</body>
</html>